@charset "UTF-8";
* { margin: 0; padding: 0; border: 0; font-size: 100%; }
body {
    height: 250vh;
    background: linear-gradient(100deg, #FFCCCC, #CCFFFF);

}
#title {
    text-align: center;
    font-size: 70px;
    padding: 25px 25px 10px 25px;
    margin: 10px 10px 3px 10px;
    font-family: 'Amatic SC', cursive;
}
.subtitle {
    text-align: center;
    color: #aeb9db;
    font-family: Garamond, serif;
    padding: 5px;
    margin: 3px 10px 3px 10px;
    font-size: 20px;
}
.content-container {
    border: 4px solid #aeb9db;
    padding: 30px 60px 30px 60px;
    background-image: url("../images/background3.jpg");
    width: 900px;
    margin: 0 auto;

}
.content-container p {
    text-shadow: 1px 0.5px hsl(273, 60%, 81%);
    padding: 10px;
    margin: 20px;
    font-size: 18px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border: 5px solid#fcfcfc;
}
