@charset "UTF-8";
body {
    height: 100vh;
    background: linear-gradient(50deg, #FFCCCC, #CCFFFF);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#title {
    text-align: center;
    font-size: 50px;
    font-family: Garamond, serif;
}
.subtitle {
    text-align: center;
    color: #aeb9db;
    font-family: Garamond, serif;
}
.content-container {
    border: 4px solid #aeb9db;
    padding: 20px 60px 20px 60px;
    margin: 20px 90px 20px 90px;
}
.content-container p {
    text-shadow: 1px 1px hsl(273, 60%, 81%);
}
img {
    position: absolute;
    top: 60%;
    left: 44%;
    width: 221px;
    height: 285px;
    margin-top: -110,5px; 
    margin-left: -142,5px; 
}